$form-width: 40rem;
$color-primary: #ed1f3e;
$color-secondary: #2a3a64;
.container {
  max-width: 100vw;
  padding: unset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  &__left {
    background-image: url("/assets/img/blueimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
  }
  &__right {
    padding: 3rem 14rem 3rem 5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;

  &__title {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.3rem;
    color: $color-primary;
  }
}

.heading__4 {
  max-width: $form-width;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  color: $color-secondary;
  margin-bottom: 3rem;
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    & > :not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__item {
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    line-height: 2.1rem;
    color: rgba(13, 36, 60, 0.75);
  }
}

.form {
  max-width: $form-width;
  &__group {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__control {
    height: 3rem;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border: unset;
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    color: $color-secondary;
    border-bottom: 1px solid #99a0b5;
    border-left: 2px solid transparent;
    transition: all ease-in 0.2s;
    &:focus {
      outline: unset;
    }
    &.error:focus {
      border-left: 2px solid $color-primary;
    }
    &.success:focus {
      border-left: 2px solid #54ff3d;
    }
  }
  &__label {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    color: $color-secondary;
    position: relative;
    padding-left: 1rem;
  }
}

input::placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
  letter-spacing: 0.03em;
  color: #868fa8;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $form-width;
  margin-top: 5rem;
  &__btn {
    padding: 1rem 2rem;
    background: $color-primary;
    border-radius: 140px;
    border: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #ffffff;
  }
  &__text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.03em;

    color: #6a7593;
  }
}
.sm {
  width: 20px;
  height: 20px;
}
.u-grid-2 {
  display: grid;
  grid-template-columns: 1fr, max-content;
}
.loader-right {
  right: 0;
  top: unset;
  left: unset;
  transform: unset;
}
.help-block {
  font-size: 0.85em;
  // color: $color_grey_dark;
  font-style: italic;
  margin: 7.5px 0;
}

.text-error {
  font-size: 12px;
  color: $color-primary;
}

button:disabled {
  background: #959595 !important;
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 1300px) {
  .container {
    &__left {
      background-position: 50% 50%;
    }
  }
}

@media only screen and (max-width: 900px) {
  $form-width: 100%;
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 50rem 1fr;
    &__left {
      background-position: 50% 50%;
    }
    &__right {
      max-width: 60rem;
      background: #ffffff;
      margin: 0 auto;
      padding: 3rem 5rem;
      margin-top: -20rem;
    }
  }
}
