$color-primary: #ed1f3e;
$color-secondary: #2a3a64;
.modal {
  z-index: 50000;
  background-color: #1c1a1adb !important;
}
// MODAL HEADER
.modal-header {
  display: flex;
  align-items: center;
  padding: 2.4rem 3rem;
  padding-bottom: unset;
  border-bottom: unset;

  & .modal-title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: #353535;
  }

  & .close-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #f5f5f5;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal .modal-dialog {
  margin: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  width: 32rem;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal-body {
  padding: 3.5rem 3rem;
}

svg {
  width: unset;
}

.u-pl-3 {
  padding-left: 3rem !important;
}

.modal-footer {
  border-top: unset;
  padding-bottom: 3rem;
}

.modal-footer.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > :not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.btn__primary {
  padding: 1.2rem 3rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background: $color-primary;
  border: none;
  box-sizing: border-box;
  border-radius: 25px;
}

.illustration {
  text-align: center;
  margin-bottom: 3rem;
}

.text-heading {
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
  color: #353535;
  margin-bottom: 1.5rem;
}
.desc {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 165%;
  text-align: center;
  color: #555555;
}

svg.success {
  width: 100px;
  height: 100px;
}

svg.success.animate path {
  animation: dash 0.75s linear both;
  animation-delay: 0.5s;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 210;
  }
  75% {
    stroke-dashoffset: -220;
  }
  100% {
    stroke-dashoffset: -205;
  }
}
